.header
  %ul.nav.nav-pills.pull-right
    %li.active
      = link_to 'Home', root_url
    %li
      = link_to 'About', root_url
    %li
      = link_to 'Contact', root_url
  %h3.text-muted Photographers Startup